Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-spectacular
python-decouple
psycopg2-binary
django-filter
redis
django-redis
celery
channels
channels-redis
boto3
django-storages
Pillow
gunicorn
pytest-django
coverage
black
flake8
